@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import './reset.css';


/* 공통 */
.wrapper {
    min-width: 1246px;
}
.inner {
    width: 1100px;
    margin: 0 auto;
}
.blind {
    position:absolute;
    overflow:hidden;
    width:1px;
    height:1px;
    margin:-1px;
    clip:rect(0,0,0,0);
}
.link-detail:hover  {
    color: #fff;
    background: #000;
}

/* 헤더 */
header {}
header::before {
    display: block;
    content: '';
    height: 35px;
    background: #eee;
}
header .flex-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100px;
}
header .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header .logo a {
    display: block;
    width: 171px;
    height: 21px;
    background: url('../image/main_13.jpg') no-repeat;
}
header .sns-area{}
header .sns-area ul{
    display: flex;
    gap: 21px;
}
header .sns-area ul a {
    display: flex;
    justify-content: center;
    width: 28px;
    height: 28px;
}
header .util-area{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    line-height: 35px;
}
header .util-area ul{
    display: flex;
    gap: 20px;
    color: #858585;
    font-size: 14px;
}
header .search-area{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    width: 35px;
    height: 35px;
}
header .search-area .btn-search{
    display: block;
    width: 15px;
    height: 16px;
    background: url('../image/main_16.jpg') no-repeat;
}

/* gnb */ 
.gnb {
    height: 60px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.gnb ul {
    display: flex;
    line-height: 60px;
}
.gnb ul li{
    flex: 1;
}
.gnb ul li a {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* 푸터 */ 
footer {
    background: #aaa;
    height: 260px;
    color: #fff;
    line-height: 30px;
}
footer .inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
footer .group-left{}
footer .group-left a{
    display: block;
    margin-top: 56px;
    background: url('../image/footer-logo_03.png');
    width: 171px;
    height: 21px;
    margin-bottom: 23px;
}
footer .group-left small {
    display: block;
    margin-top: 20px;
}
footer .group-right{
    width: 299px;
    height: 164px;
    border: 2px solid #d5d5d5;
    margin-top: 48px;
    padding: 20px 0;
    text-align: center;
}
footer .group-right h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
footer .group-right p{
    font-size: 18px;
}
footer .group-right span{
    font-size: 36px;
    display: block;
    margin-top: 23px;
}
