

.sc-visual {
    position: relative;
}
.sc-visual h2{}
.sc-visual a {
    display: flex;
    justify-content: center;
}
.sc-visual img{}
.sc-visual .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23px;
    height: 50px;
}
.sc-visual .btn-prev{
    margin-left: -624px;
}
.sc-visual .btn-next{
    margin-left: 600px;
}
.sc-visual .pagination{
    display: flex;
    gap: 11px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 33px;
}
.sc-visual .pagination .bullet{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}
.sc-visual .pagination .bullet.active{
    background: #fff;
}

.content-title {
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.link-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px; 
    height: 50px;
    border: 2px solid #222;
}

.sc-intro {}
.sc-intro .content{}
.sc-intro .content .content-title {
    margin: 84px 0 65px;
}

.sc-intro .flex-area{
    display: flex;
    gap: 66px;
}
.sc-intro .flex-area.reverse {
    flex-direction: row-reverse;
}
.sc-intro .flex-area .img-wrap{}
.sc-intro .flex-area .text-wrap{
    flex: 1;
}
.sc-intro .flex-area .text-wrap p {
    font-size: 18px;
    line-height: 28px;
    padding: 40px 0 45px;
}


.sc-recommend {}
.sc-recommend .content {
    padding: 93px 0;
}
.sc-recommend .content-title{
    margin-top: 45px;
    margin-bottom: 60px;
    font-family: 'Noto Sans KR', sans-serif;
}
.sc-recommend .bg-amf{
    background: url('../image/main_04.jpg') no-repeat center / cover;
}
.sc-recommend .bg-g65 {
    background: url('../image/main_41.jpg') no-repeat center / cover;
}
.sc-recommend .bg-air {
    background: url('../image/main_42.jpg') no-repeat center / cover;
}
.sc-recommend .inner {}
.sc-recommend .text-box{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 330px;
    color: #fff;
    padding: 27px 20px;
    background: rgba(0, 0, 0, 0.5);
}
.sc-recommend .text-box h3{
    margin-bottom: 14px;
    font-size: 22px; 
    font-weight: bold;
}
.sc-recommend .text-box p{
    font-size: 18px;
    line-height: 28px;
}
.sc-recommend .text-box a{
    margin-top: auto;
    border-color: #fff;
}


.sc-event {
    padding: 100px 0 80px;
}
.sc-event .event-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.sc-event .event-list .event-item{}
.sc-event .event-list .event-link{
    display: flex;
    flex-direction: column;
}
.sc-event .event-list .img-wrap{}
.sc-event .event-list .text-wrap{}
.sc-event .event-list .text-wrap em{
    display: block;
    margin-top: 24px;
    font-size: 18px;
    color: #858585;
}
.sc-event .event-list .text-wrap strong{
    display: block;
    margin-top: 17px;
    color: #222;
    font-size: 22px;
    font-weight: bold;
}
.sc-event .event-list .text-wrap p{
    margin-top: 14px;
    height: 50px;
    color: #222;
    overflow: hidden;
    font-size: 18px;
}
.sc-event .event-list .text-wrap .link-detail {
    margin-top: 25px;
}


.sc-reviews {}
.sc-reviews .content-title{}
.sc-reviews .flex-area{
    position: relative;
    display: flex;
    gap: 60px;
}
.sc-reviews .img-wrap{}
.sc-reviews .img-wrap img {
    margin-top: 24px;
}
.sc-reviews .text-wrap{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.sc-reviews .text-wrap strong{
    display: block;
    margin-top: 60px;
    color: #222;
    font-weight: 500;
    font-size: 22px;
}
.sc-reviews .text-wrap p{
    margin-top: 10px;
    margin-bottom: 25px;
    line-height: 32px;
}
.sc-reviews .link-detail {
    margin-bottom: 20px;
}
.sc-reviews .btn-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 23px;
    height: 40px;
}
.sc-reviews .btn-img.prev {
    margin-left: -610px;
}
.sc-reviews .btn-img.next {
    margin-left: 613px;
}


.board-container {
    display: flex;
    gap: 80px;
    padding: 120px 0;
}
.board-container .sc-board{
    flex: 1;
}
.board-container .group-title{
    display: flex;
    padding: 22px 0 18px 9px;
}
.board-container .group-title h2{
    font-size: 21px;
    font-weight: 500;
    line-height: 40px;
}
.board-container .group-title .link-more{
    margin-left: auto;
}
.board-container .board-list .board-item:nth-child(1){
    border-top: 3px solid #ddd;
}
.board-container .board-list .board-item+.board-item {
    border-top: 1px solid #ddd;
}
.board-container .board-list .board-item:last-child {
    border-bottom: 1px solid #ddd;
}
.board-container .board-list .board-item {
    display: flex;
    align-items: center;
}
.board-container .board-list .date {
    color: #888;
    font-size: 16px;
    line-height: 60px;
}
.board-container .board-list a {
    display: block;
    color: #222;
    margin-left: 24px;
    max-width: 510px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
